.red {
   color: red;
}
.thick {
   font-size:20px;
}
.green {
   color:green;
}
body {
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
}
h1, h2, p {
   text-align: center;
   color: white;
}
.cardglow {
   box-shadow: 0px 0px 20px 0px red;
}