/* big picture stuff */
* {
   box-sizing: border-box;
}
body {
   background-color: rgb(0, 0, 0);
   height: 100%;
   width: 100%;
}
h1, h2, p {
   text-align: center;
   color: white;
}

/* Controls style for project cards */
.cardglow {
   box-shadow: 0px 0px 20px 0px red;
}

/* Style seetings for header area */
#tagline {
   margin: 10px;
}

#headshot {
   background-image: url('zachary-peterson.jpeg');
   background-size: cover;
   height: 400px;
   width: 400px;
   margin: 10px auto 10px;
}

#bio {
   margin: 50px 150px;
}